<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-9FR7K2YVNR"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-9FR7K2YVNR'); </script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Front Page</title>
        <link rel="icon" href="/src/image/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
		<!-- Bootstrap core CSS -->
		<link href="/src/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="/src/css/signin.css" rel="stylesheet">
		<script src="/src/js/jquery.min.js"></script>
	</head>
    
	<body class="text-center">
		<form class="form-signin">
            <input type="hidden" name="csrfmiddlewaretoken" value="Yse6cgbnpqJr4Xjn1flWIVqE5knZ5Ty44Z0GtTvzdxFypbn46s9aILmj2eTgPCWJ">
			<img class="mb-4" src="/src/image/logo-search.jpg" alt="" width="390" height="140.4">
			<br />
            <div style="display: inline;">
                <!-- <a id="visualizationLink" class="btn btn-front" href="search/?field=visualization" style="background-color: #f8f9fa; border-color: #f8f9fa; color: #3c4043;">visualization</a> -->
				<a id="visualizationLink" class="custom-button" href="search?field=visualization" style="margin-right: 30px;">
                    <i class="fas fa-eye icon"></i>
                    visualization
                </a>
                <a id="NLPLink" class="custom-button" href="search?field=acl" style="margin-left: 30px;">
                    <i class="fa-solid fa-pencil icon"></i>
                    NLP
                </a>
			</div>
			<br />
			<br />
			<p class="mt-5 mb-3 text-muted">© 2023-2024</p>
			<a href=" " target="_blank">京ICP备2022000473号-2</a>
			<br />
			<br />
			<p style="white-space: pre-wrap; text-align: center;">Please send any enquiry/feedback to: <b>geneticflowcontact@gmail.com</b>,
and see our <a href="reference">KDD/VIS 2023 paper</a> for more details.
			</p>
		</form>
	</body>
</html>