<!DOCTYPE HTML>
<html>
<head>
    <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-9FR7K2YVNR"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-9FR7K2YVNR'); </script>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/src/image/favicon.ico" type="image/x-icon"/>

    <link rel='stylesheet' type='text/css' href="/src/css/bootstrap.css">
    <link rel='stylesheet' type='text/css' href="/src/css/style.css">
    <link rel='stylesheet' type='text/css' href="/src/css/d3tip.css">
    <link rel="stylesheet" type='text/css' href="/src/css/layui.css">

    <script src="/src/js/jquery.min.js"></script>
    <script src="/src/js/bootstrap.js"></script>
    <script src="/src/js/d3.min.js"></script>
    <script src="/src/js/d3-tip.js"></script>
    <script src="/src/js/d3-hsv.min.js"></script>
    <script src="/src/js/layui.js" charset="utf-8"></script>

    <script src="/src/js/index.js"></script>
    <script src="/src/js/download-svg.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="navigation" style="background-image: linear-gradient(to bottom, #054863, #0d3245); padding-top: 1%; padding-bottom: 1%; display:flex; align-items: center; justify-content:center;">
            <div class="logo">
                <a href="http://82.156.152.182:9001/"><img src="/src/image/logo-index.jpg" width="288" height="64"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- <div class="tool-panel" style="background-color: #f7f7f7; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"></div> -->
        <div class="navigation" style="background-color: #f7f7f7; border-bottom-left-radius: 24px; border-bottom-right-radius: 24px; z-index: 0;">
            <form id="update-info">
                {% csrf_token %}
                <ul class="address" style="padding-top: 0px;">
                    <li>
                        <ul class="address-text">
                            <li style="width: 3%; float: left; height: 15px;"></li>
                            <li style="width: 10%; color: #777; float: left; height: 15px;">remove surveys</li>
                            <li style="width: 10%; color: #777; float: left; height: 15px; margin-left: -1%;">remove isolated node</li>
                            <li style="width: 11%; color: #777; float: left; height: 15px; margin-left: 1.5%;">filter by core paper</li>
                            <li style="width: 11%; color: #777; float: left; height: 15px; margin-left: 0.5%;">filter by extend-type</li>
                            <li style="width: 10%; color: #777; float: left; height: 15px; margin-left: -1%;">node outline color</li>
                            <li style="width: 10%; color: #777; float: left; height: 15px; margin-left: -0.5%;">node outline thickness</li>
                            <li style="width: 10%; color: #777; float: left; height: 15px; margin-left: 1.8%;">node fill color</li>
                            <li style="width: 12%; color: #777; float: left; height: 15px;">paper topic hierarchy</li>
                            <li style="width: 10%; color: #777; float: left; height: 15px; margin-left: 0.7%;">node max width</li>
                            <li style="width: 0%; float: right; height: 15px;"></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li style="width: 3.4%; float: left;"></li>
                            <li style="width: 10%; float: left; color: #777; margin-top: 0.5%; margin-bottom: 0.5%;">
                                <select id="remove-survey" class="form-select" name="removeSurvey" style="display: inline-block; color:#333; width: 60%; padding-top: 0.2em; padding-bottom: 0.2em;">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </li>
                            <li style="width: 10%; float: left; color: #777; margin-top: 0.5%; margin-bottom: 0.5%;">
                                <select id="mode" class="form-select" name="mode" style="display: inline-block; color:#333; width: 60%; padding-top: 0.2em; padding-bottom: 0.2em;">
                                    <option value="0">Yes</option>
                                    <option value="1">No</option>
                                </select>
                            </li>
                            <li style="width: 10%; float: left; color: #777;">
                                <input style="display: inline-block; width: 60%;" id="range-node" type="range" name="isKeyPaper" value="0.5" min="0" max="1" step="0.1">
                                <span id="node-value" style="display: inline-block; color: #333;">>=0.5</span>
                                <script type='text/javascript'>
                                    $("#range-node").change(function () {
                                        var value = $("#range-node").val();
                                        $("#node-value").text(">=" + value);
                                    })
                                </script>
                            </li>
                            <li style="width: 10%; float: left; color: #777; margin-left: 1.5%;">
                                <input style="display: inline-block; width: 60%;" id="range-edge" type="range" name="extendsProb" value="0.5" min="0" max="1" step="0.1">
                                <span id="edge-value" style="display: inline-block; color: #333;">>=0.5</span>
                                <script type='text/javascript'>
                                    $("#range-edge").change(function () {
                                        var value = $("#range-edge").val();
                                        $("#edge-value").text(">=" + value);
                                    })
                                </script>
                            </li>
                            <li style="width: 10%; float: left; color: #777; margin-top: 0.5%; margin-bottom: 0.5%; margin-left: 0.7%;">
                                <select id="outline-color" class="form-select" name="outlineColor" style="display: inline-block; color:#333; width: 60%; padding-top: 0.2em; padding-bottom: 0.2em;">
                                    <option value="2">paper citation</option>
                                    <option value="1">core paper prob</option>
                                    <option value="0">none</option>
                                </select>
                                <script type="text/javascript">
                                    $("#outline-color").change(outline_color_change);
                                </script>
                            </li>
                            <li style="width: 10%; float: left; color: #777; margin-top: 0.5%; margin-bottom: 0.5%; margin-left: 0.5%;">
                                <select id="outline-thickness" class="form-select" name="outlineThickness" style="display: inline-block; color:#333; width: 60%; padding-top: 0.2em; padding-bottom: 0.2em;">
                                    <option value="2">paper citation</option>
                                    <option value="1">core paper prob</option>
                                    <option value="0">none</option>
                                </select>
                                <script type="text/javascript">
                                    $("#outline-thickness").change(outline_thickness_change);
                                </script>
                            </li>
                            <li style="width: 10%; float: left; color: #777; margin-top: 0.5%; margin-bottom: 0.5%;">
                                <select id="fill-color" class="form-select" name="fillColor" style="display: inline-block; color:#333; width: 60%; padding-top: 0.2em; padding-bottom: 0.2em;">
                                    <option value="1">paper topic</option>
                                    <option value="0">none</option>
                                </select>
                                <script type="text/javascript">
                                    $("#fill-color").change(fill_color_change);
                                </script>
                            </li>
                            <li style="width: 10%; float: left; color: #777; margin-top: 0.5%; margin-bottom: 0.5%; margin-left: 1.5%;">
                                <select id="field-level" class="form-select" name="fieldThreshold" style="display: inline-block; color:#333; width: 60%; padding-top: 0.2em; padding-bottom: 0.2em;">
                                    <option value="2" selected>2</option>
                                    <option value="1">1</option>
                                </select>
                                <script>
                                    $("#field-level").change(field_level_change);
                                </script>
                            </li>
                            <li style="width: 10%; float: left; color: #777; margin-top: 0.5%; margin-bottom: 0.5%; margin-left: 1.5%;">
                                <select id="node-width" class="form-select" name="nodeWidth" style="display: inline-block; color:#333; width: 60%; padding-top: 0.2em; padding-bottom: 0.2em;">
                                    <option value="0">None</option>
                                    <option value="5">5</option>
                                    <option value="10" selected>10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </li>
                            <li style="width: 1%; float: right;"></li>
                        </ul>
                    </li>
                </ul>
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="main-panel">
            <div class="left-column">
                <ul id="basic-info" class="address" style="padding-bottom: 10%;">
                    <li>
                        <ul class="address-text" style="background-color: #054863; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <li style="width: 100%; font-size: 16px; margin-top: 4%; margin-bottom: 3%;">
                                <p>Basic Info</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li style="width: 50%; padding-left: 1%;"><b>author</b></li>
                            <li style="color: #333;" id="authorRank">{{ name }}</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li style="width: 60%;"><b>h-index / citations</b></li>
                            <li style="color: #333;">{{ hIndex }} / {{ citationCount }}</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li style="width: 60%;"><b>paper count</b></li>
                            <li style="color: #333;">{{ paperCount }}</li>
                        </ul>
                    </li>
                </ul>
                <br />
                <ul id="graph-info" class="address" style="padding-bottom: 10%;">
                    <li>
                        <ul class="address-text" style="background-color: #054863; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <li style="width: 100%; font-size: 16px; margin-top: 4%; margin-bottom: 3%;">
                                <p>Graph Info</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li style="width: 55%;"><b># of nodes</b></li>
                            <li id="node-num" style="color: #333;"></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li style="width: 55%;"><b># of edges</b></li>
                            <li id="edge-num" style="color: #333;"></li>
                        </ul>
                    </li>
                </ul>
                <br />
                <ul id="topic-info" class="address">
                    <li>
                        <ul id="topic-map-banner" class="address-text" style="background-color: #054863; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <li style="width: 100%; font-size: 16px; margin-top: 4%; margin-bottom: 3%;">
                                <p>Topic Map</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="topic-map-graph">
                            <div id="topic-distribution"></div>
                            <input id="topic-slider" class="topic-slider" style="--thumb-size: 2px; height: 3px; width: 80%; margin-top: 2%; margin-left: 10%; color: #777" type="range" value="0.5" min="0" max="1" step="0.1">
                            <script>
                                $("#topic-slider").change(function () {
                                    var topic_r = $("#topic-slider").val();
                                    d3.selectAll(".topic-map")
                                        .attr("r", d => Math.sqrt(d.num) * 10 * topic_r);
                                })
                            </script>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="middle-column" style="border-bottom-left-radius: 24px; border-bottom-right-radius: 24px;">
                <div id="tag-tooltip" class="tooltip"></div>
                
                <div id="toolbox">
                    <button id="restore" class="icon-button" style="background-image: url('/src/image/restore.png');"></button>
                    <button id="zoom-in" class="icon-button" style="background-image: url('/src/image/zoom-in.png');"></button>
                    <button id="zoom-out" class="icon-button" style="background-image: url('/src/image/zoom-out.png');"></button>
                    <button id="fullscreen" class="icon-button" style="background-image: url('/src/image/fullscreen.png');"></button>
                    <button id="save" class="icon-button" style="background-image: url('/src/image/save.png');"></button>
                </div>
                <script type="text/javascript">
                    function toggleFullscreen() {
                        const container = document.getElementsByClassName("middle-column")[0];
                        if (container.requestFullscreen) {
                            container.requestFullscreen().then(() => {
                                // 在全屏状态变化后测量宽度
                                document.addEventListener("fullscreenchange", onFullscreenChange);
                                // 监听ESC键按下事件
                                document.addEventListener("keydown", onEscKeyPressed);
                            }).catch(error => {
                                console.error('Error entering fullscreen:', error);
                            });
                        } else if (container.webkitRequestFullscreen) {
                            container.webkitRequestFullscreen().then(() => {
                                // 在全屏状态变化后测量宽度
                                document.addEventListener("webkitfullscreenchange", onFullscreenChange);
                                // 监听ESC键按下事件
                                document.addEventListener("keydown", onEscKeyPressed);
                            }).catch(error => {
                                console.error('Error entering fullscreen:', error);
                            });
                        }
                    }

                    function onFullscreenChange() {
                        // 在这里执行其他操作
                        d3.select("#mainsvg").remove();
                        d3.select("#tagcloud").remove();

                        init_graph(viewBox, transform);
                        update_nodes();
                        var paper_field = update_fields();
                        draw_tag_cloud(paper_field);
                        visual_graph(polygon);
                        outline_color_change();
                        outline_thickness_change();
                    }

                    function onEscKeyPressed(event) {
                        if (event.key === "Escape") {
                            if (document.exitFullscreen) {
                                document.exitFullscreen();
                            } else if (document.webkitExitFullscreen) {
                                document.webkitExitFullscreen();
                            }
                        }
                    }

                    $(document).ready(function() {
                        $("#save").click(function () {
                            var zoomSvg = getZoomSvg('#mainsvg', '#maingroup');
                            var fileName = "{{ name|safe }}" + " GF profile.jpg";
                            downloadSvg(zoomSvg, fileName);
                        })
                        // $("#fullscreen").click($("#fullscreen").click(toggleFullscreen));
                        document.getElementById("fullscreen").addEventListener("click", toggleFullscreen);
                        $("#zoom-in").click(function() {
                            d3.select('#mainsvg').transition().duration(500).call(zoom.scaleBy, 1.1);
                        })
                        $("#zoom-out").click(function() {
                            d3.select('#mainsvg').transition().duration(500).call(zoom.scaleBy, 0.9);
                        })
                        $("#restore").click(function() {
                            d3.select('#mainsvg').transition().duration(500).call(zoom.transform, d3.zoomIdentity);
                        })
                    });
                </script>
                <!--img src="data:image/png;base64,">
                <svg id="mainsvg" style="background-color: white; border-width: 0px;" width="900" height="560" viewBox="0 0 0 0"></svg>
                <div id="svg">
                    <svg id="mainsvg" style="background-color: white; border-width: 0px;" width="850" height="560" viewBox="0 0 0 0"></svg>
                </div>
                <canvas width="850" height="560" style="display:none"></canvas-->
            </div>
            <div class="right-column">
                <ul id="paper-list" class="address" style="padding-bottom: 5%;">
                    <li>
                        <ul class="address-text" style="background-color: #054863; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <li style="width: 100%; font-size: 16px; margin-top: 4%; margin-bottom: 3%;">
                                <p>Paper List</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li id="timeline" style="overflow: auto; width: 90%; background-color: white; color: #333; margin-top: 4%; margin-left: 6%;"></li>
                        </ul>
                    </li>
                </ul>

                <ul id="selector" class="address">
                    <li>
                        <ul class="address-text" style="background-color: #054863; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <li style="width: 35%; font-size: 16px; margin-top: 4%; margin-bottom: 3%; padding-left: 5%;">
                                <button id="paper-info">Paper Info</button>
                            </li>
                            <li style="width: 28%; font-size: 16px; margin-top: 4%; margin-bottom: 3%; padding-left: 0%;">
                                <button id="references">References</button>
                            </li>
                            <li style="width: 28%; font-size: 16px; margin-top: 4%; margin-bottom: 3%; padding-left: 5%;">
                                <button id="citations">Citations</button>
                            </li>
                            <script>
                                $("#paper-info").click(function () {
                                    $("#edge-info").hide();
                                    $("#up-line").hide();
                                    $("#down-line").hide();
                                    $("#node-info").show();
                                });
                                $("#references").click(function () {
                                    $("#edge-info").hide();
                                    $("#node-info").hide();
                                    $("#up-line").show();
                                    $("#down-line").hide();
                                });
                                $("#citations").click(function () {
                                    $("#edge-info").hide();
                                    $("#node-info").hide();
                                    $("#up-line").hide();
                                    $("#down-line").show();
                                });
                            </script>
                        </ul>
                    </li>
                </ul>
                <ul id="node-info" class="address" style="padding-bottom: 10%; border-top-left-radius: 0%; border-top-right-radius: 0%;">
                    <li>
                        <ul class="address-text abstract-minus-height">
                            <li style="width: 40%; margin-top: 3%;"><b style="margin-left: 25.5%;">paperID</b></li>
                            <li id="paper-id" style="color: #333; margin-top: 3%; margin-left: 10%;"></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text abstract-minus-height">
                            <li style="width: 40%; margin-top: 3%;"><b style="margin-top: 10%; margin-left: 25.5%;">title</b></li>
                            <li id="paper-name" style="color: #333; width: 85%; margin-top: 3%; margin-left: 10%;"></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text abstract-minus-height">
                            <li style="width: 40%; margin-top: 3%;"><b style="margin-left: 25.5%;">year</b></li>
                            <li id="paper-year" style="color: #333; margin-top: 3%; margin-left: 10%;"></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text abstract-minus-height">
                            <li style="width: 40%; margin-top: 3%;"><b style="margin-left: 25.5%;">topic</b></li>
                            <li id="paper-field" style="color: #333; width: 85%; margin-top: 3%; margin-left: 10%;"></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li class="abstract-minus-height" style="width: 40%; margin-top: 3%;"><b style=" margin-left: 25.5%;">abstract</b></li>
                            <li id="abstract" style="overflow: auto; width: 85%; background-color: white; color: #333; margin-top: 3%; margin-left: 10%;"></li>
                        </ul>
                    </li>
                </ul>

                <ul id="up-line" class="address" style="border-top-left-radius: 0%; border-top-right-radius: 0%;">
                    <li>
                        <ul class="address-text">
                            <li id="cited-papers" class="demo-tree demo-tree-box" style="width: 90%; overflow: auto; margin-left: 5%;"></li>
                        </ul>
                    </li>
                </ul>
                <ul id="down-line" class="address" style="border-top-left-radius: 0%; border-top-right-radius: 0%;">
                    <li>
                        <ul class="address-text">
                            <li id="citing-papers" class="demo-tree demo-tree-box" style="width: 90%; overflow: auto; margin-left: 5%;"></li>
                        </ul>
                    </li>
                </ul>

                <ul id="edge-info" class="address" style="padding-bottom: 10%;">
                    <li>
                        <ul class="address-text" style="background-color: #054863; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <li style="width: 100%; font-size: 16px; margin-top: 4%; margin-bottom: 3%;">
                                <p>Citation Relationship</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text citation-context-minus-height">
                            <li style="width: 40%"><b style="margin-left: 25%;">cited paper</b></li>
                            <li id="source-paper" style="color: #333; margin-left: 10%;"></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text citation-context-minus-height">
                            <li style="width: 40%"><b style="margin-left: 25%;">citing paper</b></li>
                            <li id="target-paper" style="color: #333; margin-left: 10%;"></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li class="citation-context-minus-height" style="width: 50%"><b style="margin-left: 20%;">citation context</b></li>
                            <li id="citation-context" style="overflow: auto; width: 85%; background-color: white; color: #333; margin-top: 3%; margin-left: 10%;"></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    

    <!--初始js-->
    <script type="text/javascript">
        // text1 paperLabel; text2 paperCount; text3 year; text4 field
        $(function () {
            $("#selector").hide();
            $("#node-info").hide();
            $("#up-line").hide();
            $("#down-line").hide();
            $("#edge-info").hide();
            const authorRank = "{{ authorRank }}";
            const name = "{{ name }}";
            const fields = {{ fields|safe }};
            const field = "{{ field }}";
            field_roots = fields[0];
            field_leaves = fields[1];
            
            current_topic_div = 1;
            const filename = '/src/json/' + field + '/' + String(authorRank) + '_0_0.5_0.5_10_1.json';
            d3.json(filename).then( data => {
                years = data[1];      //年份节点
                nodes = data[2];      //论文节点
                edges = data[3];      //path
                polygon = data[4];    //箭头
                const params = data[0];
                viewBox = params[0];
                transform = params[1];
                for (let i = 0; i < nodes.length; i++) {
                    nodes[i]['flag'] = 0;
                }
                for (let i = 0; i < edges.length; i++) {
                    edges[i]['flag'] = 0;
                }
                for (let i = 0; i < field_roots.length; i++) {
                    console.log(field_roots[i][2]);
                    field_roots[i][2] = field_roots[i][2].replaceAll('_', ' ');
                }
                for (let i = 0; i < field_leaves.length; i++) {
                    field_leaves[i][2] = field_leaves[i][2].replaceAll('_', ' ');
                }

                updateSider(name);
                init_graph(viewBox, transform);
                update_nodes();
                var paper_field = update_fields();
                draw_tag_cloud(paper_field);
                visual_topics(paper_field);
                visual_graph(polygon);
                $("#overall-topic-map").hide();
                $("#paper-topic-map").show();
                outline_color_change();
                outline_thickness_change();
                // sugiyama(years, nodes, edges);
            });
        })
    </script>

    <!--ajax提交表单-->
    <script type="text/javascript">
        $("#mode, #range-node, #range-edge, #node-width, #remove-survey").change(function() {
            var paramData = {};
            var formData = $("#update-info").serialize();
            formData = formData.split("&");
            for (let i = 1; i < formData.length; i++) {
                const temp = formData[i].split('=');
                paramData[temp[0]] = temp[1]
            }
            paramData.authorRank = "{{ authorRank }}"
            paramData.field = "{{ field }}";
            $.ajax({
                headers: {"X-CSRFToken": getCookie("csrftoken")},
                type: "POST",
                dataType: "json",
                url: "/update/",
                data: paramData,
                success: function (param) {
                    $("#mainsvg").remove();
                    $("#tagcloud").remove();
                    d3.tip().destroy();
                    $("#abstract").empty();
                    $("#citation-context").empty();
                    $("#selector").hide();
                    $("#node-info").hide();
                    $("#up-line").hide();
                    $("#down-line").hide();
                    $("#edge-info").hide();
                    $("#timeline").empty();
                    var detail = param['detail'];
                    var field = param['field'];
                    var filename = '/src/json/' + field + '/' + detail + '.json';
                    d3.json(filename).then( data => {
                        years = data[1];
                        nodes = data[2];
                        edges = data[3];
                        const polygon = data[4];
                        const params = data[0];
                        const viewBox = params[0];
                        const transform = params[1];
                        for (let i = 0; i < nodes.length; i++) {
                            nodes[i]['flag'] = 0;
                        }

                        updateSider("{{ name }}");
                        init_graph(viewBox, transform);
                        update_nodes();
                        var fieldCount = update_fields();
                        draw_tag_cloud(fieldCount);
                        visual_graph(polygon);
                        visual_topics(fieldCount);
                        outline_color_change();
                        outline_thickness_change();
                    });
                },
            });
        });
    </script>

</body>
</html>
