<!DOCTYPE HTML>
<html>
<head>
    <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-9FR7K2YVNR"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-9FR7K2YVNR'); </script>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/src/image/favicon.ico" type="image/x-icon"/>

    <link rel='stylesheet' type='text/css' href="/src/css/bootstrap.css">
    <link rel='stylesheet' type='text/css' href="/src/css/style.css">
    <link rel='stylesheet' type='text/css' href="/src/css/d3tip.css">
    <link rel="stylesheet" type='text/css' href="/src/css/layui.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.1/nouislider.min.css"> -->
    <link rel="stylesheet" href="/src/css/nouislider.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"> -->
    <link rel="stylesheet" href="/src/css/all.min.css">
		
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.1/nouislider.min.js"></script> -->
    <script src="/src/js/nouislider.min.js"></script>
    <script src="/src/js/jquery.min.js"></script>
    <script src="/src/js/bootstrap.js"></script>
    <script src="/src/js/d3.min.js"></script>
    <script src="/src/js/fisheye.js"></script>
    <script src="/src/js/d3-tip.js"></script>
    <script src="/src/js/d3-hsv.min.js"></script>
    <!-- <script src="/src/js/dagre.js"></script> -->
    <script src="/src/js/viz-standalone.js"></script>
    <script src="/src/js/layui.js" charset="utf-8"></script>
    <script src="/src/js/d3-ForceEdgeBundling.js"></script>
    <!-- <script src="https://cdn.staticfile.org/jquery/3.7.1/jquery.min.js"></script> -->
    <!-- <script src="https://registry.npmmirror.com/echarts/5.4.3/files/dist/echarts.min.js"></script> -->
    <script src="/src/js/echarts.min.js"></script>

    <script src="/src/js/index.js"></script>
    <script src="/src/js/download-svg.js"></script>
    <script src="/src/js/cola.min.js"></script>
    
</head>

<body>
    <div id="screen-size-warning">
        Please use a larger screen for a better visualization experience (iPad or desktop with width > 800px).
    </div>
    
    <div class="container-fluid">
        <div class="navigation" style="background-color: #054863; padding-top: 0.5%; padding-bottom: 0.5%; display:flex; align-items: center; justify-content:center;">
            <div class="logo">
                <a href="/"><img src="/src/image/logo-index.jpg" width="270" height="63"></a>
                <div id="field" style="display: inline-block;"><h1></h1></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- <div class="tool-panel" style="background-color: #f7f7f7; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"></div> -->
        <div class="navigation" style="background-color: #f7f7f7; border-bottom-left-radius: 24px; border-bottom-right-radius: 24px; z-index: 0;">
            <form id="update-info">
                {% csrf_token %}
                <table class="address" style="width: 100%; padding-top: 0px; color: #777;">
                    <tr>
                        <td style="width: 2%;"></td>
                        <td >remove survey papers</td>
                        <td >remove isolated papers</td>
                        <td style="width: 13%;">only show core papers</td>
                        <td style="width: 13%;">only show extend citations</td>
                        <td style="width: 13%;">topic similarity threshold</td>
                        <!-- <td style="width: 13%; font-size: 13px !important;">year grid</td> -->
                        <td >node outline color</td>
                        <td >node outline thickness</td>
                        <td >node fill color</td>
                        <td >visualization type</td>
                        <td >node max width</td>
                        <td style="width: 2%;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <select id="remove-survey" class="form-select" name="removeSurvey">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                        <td>
                            <select id="mode" class="form-select" name="mode">
                                <option value="2">Partial</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                        <td>
                            <span style="font-size:12px;">no filter</span>
                            <div id="range-node" style="width: 60%; display: inline-block;"></div>
                            <span id="node-value" style="color: #333; font-size:12px">≥0.5 prob.</span>
                        </td>
                        <td>
                            <span style="font-size:12px;">no filter</span>
                            <div id="range-edge" style="width: 60%; display: inline-block;"></div>
                            <span id="edge-value" style="color: #333; font-size:12px">≥0.5 prob.</span>
                        </td>
                        <td>
                            <span style="font-size:12px;">no filter</span>
                            <div id="range-topic" style="width: 60%; display: inline-block;"></div>
                            <span id="topic-value" style="color: #333; font-size:12px">≥0.5 prob.</span>
                        </td>
                        <td>
                            <select id="outline-color" class="form-select" name="outlineColor">
                                <option value="2">paper citation</option>
                                <option value="1">core paper prob</option>
                                <option value="0">none</option>
                            </select>
                            <script type="text/javascript">
                                $("#outline-color").change(function() {
                                    d3.selectAll('.paper').data(nodes)
                                        .attr('stroke', d => updateOutlineColor(d.isKeyPaper, d.citationCount));
                                });
                            </script>
                        </td>
                        <td>
                            <select id="outline-thickness" class="form-select" name="outlineThickness">
                                <option value="2">paper citation</option>
                                <option value="1">core paper prob</option>
                                <option value="0">none</option>
                            </select>
                            <script type="text/javascript">
                                $("#outline-thickness").change(function() {
                                    d3.selectAll('.paper').data(nodes)
                                        .attr('stroke-width', d => updateOutlineThickness(d.isKeyPaper, d.citationCount));
                                });
                            </script>
                        </td>
                        <td>
                            <select id="fill-color" class="form-select" name="fillColor">
                                <option value="0">paper topic</option>
                                <option value="1">blue</option>
                                <option value="2">isKeyPaper</option>
                                <option value="3">citationCount</option>
                            </select>
                        </td>
                        <td>
                            <select id="vis-type" class="form-select" name="VisType">
                                <option value="0" >sugiyama</option>
                                <option value="1">force layout</option>
                                <option value="2">evolution force layout</option>
                                <option value="3">sugiyama without year</option>
                                <option value="4">sugiyama(OH)</option>
                                <option value="5">Temporal-Thematic Flow</option>
                                <option value="6">subgraph + bar</option>
                                <option value="7" selected>subgraph + side</option>
                            </select>
                        </td>
                        <td>
                            <select id="node-width" class="form-select" name="nodeWidth">
                                <option value="0">None</option>
                                <option value="5">5</option>
                                <option value="10" selected>10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                </table>
                
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="main-panel">
            <div class="left-column">
                <div id="basic-info" class="address" style="padding-bottom: 5%; ">
                    <div style="width: 100%; padding-top: 4%; padding-bottom: 3%;background-color: #054863; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                        <p style="margin-left: 40px; color: white; font-size: 16px; font-weight: bold;">Scholar Info</p>
                    </div>

                    <table style="background-color: white; width: 100%;">
                        <tr>
                            <th style="width: 25%;">author</th>
                            <td style="color: #333;">{{ name }}</td>
                        </tr>
                        <tr>
                            <th>h-index</th>
                            <td style="color: #333;">{{ hIndex }}</td>
                        </tr>
                        <tr>
                            <th>#citations</th>
                            <td style="color: #333;">{{ citationCount }}</td>
                        </tr>
                        <tr>
                            <th>#papers</th>
                            <td style="color: #333;">{{ paperCount }}</td>
                        </tr>
                        <tr>
                            <th>#nodes</th>
                            <td id="node-num" style="color: #333;"></td>
                        </tr>
                        <tr>
                            <th>#edges</th>
                            <td id="edge-num" style="color: #333;"></td>
                        </tr>
                    </table>
                    
                </div>

                <ul id="topic-info" class="address">
                    <li>
                        <ul class="address-text" style="background-color: #054863; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <li style="width: 30%; font-size: 16px; margin-top: 4%; margin-bottom: 3%; padding-left: 5%;">
                                <button id="topic-button">Topic Map</button>
                            </li>
                            <li style="width: 30%; font-size: 16px; margin-top: 4%; margin-bottom: 3%; padding-left: 5%;">
                                <button id="hypertree-button">Chord</button>
                            </li>
                            <li style="width: 25%; font-size: 16px; margin-top: 4%; margin-bottom: 3%; padding-left: 5%;">
                                <button id="TTM-button">TTM</button>
                            </li>
                        </ul>
                    </li>
                    <script>
                        $("#chord").hide();
                        $("#TTM-graph").hide();
                        $("#topic-button").click(function () {
                            $("#topic-map-graph").show();
                            $("#chord").hide();
                            $("#TTM-graph").hide();
                        })
                        $("#hypertree-button").click(function () {
                            $("#chord").show();
                            $("#topic-map-graph").hide();
                            $("#TTM-graph").hide();
                        })
                        $("#TTM-button").click(function () {
                            $("#chord").hide();
                            $("#topic-map-graph").hide();
                            $("#TTM-graph").show();
                        })
                    </script>

                    <li>
                        <div id="topic-map-graph" style="padding-bottom:4%">
                            <div id="topic-distribution"></div>
                            
                            <div class="slider-container">
                                <label for="topic-slider" style="margin-right: 3%;">Size:</label>
                                <input id="topic-slider" class="topic-slider"  type="range" value="1" min="0" max="2" step="0.01">
                                <span id="topic-label" style="margin-left: 3%;">0.5</span>
                            </div>
                            
                            <div class="slider-container">
                                <label for="range-slider" style="margin-right: 3%;">Range:</label>
                                <!-- <input type="range" id="range-slider" min="0" max="100" value="0" multiple>
                                 -->
                                <div id="range-slider" style="width:80%"></div>
                                <span id="range-label" style="margin-left: 3%;">0-100</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div id="chord">
                            <!-- <iframe id="hypertreeFrame" src="/hypertree/" width="100%" height="400px"></iframe> -->
                        </div>
                    </li>
                    <li>
                        <div id="TTM-graph"></div>
                    </li>
                    
                </ul>
            </div>
            <div class="middle-column" style="border-bottom-left-radius: 24px; border-bottom-right-radius: 24px;">
                <div id="tag-tooltip" class="tooltip"></div>
                
                <div id="control">
                    Year Grid:
                    <input type="range" id="yearGridSlider" min="1" max="5" value="1" step="1" onchange="updateYearGrid(this.value)" 
                        style="max-width: 160px;display: inline-block;margin-right: 10px;margin-left: -10px;">    
                    Use hyperbolic:
                    <label class="switch" style="margin-right: 10px;margin-left: -10px;">
                        <input type="checkbox" id="toggle-switch">
                        <span class="slider round"></span>
                    </label>
                    Show years:
                    <label class="switch" style="margin-right: 10px;margin-left: -10px;">
                        <input type="checkbox" id="toggle-years" checked>
                        <span class="slider round"></span>
                    </label>
                    Edge filter:
                    <select id="edge-filter" class="form-select" name="edge-filter" style="margin-left: -10px;">
                        <option value="0">In + Out</option>
                        <option value="1">In</option>
                        <option value="2">Out</option>
                        <option value="3">None</option>
                    </select>
                    
                </div>
                <div id="toolbox">
                    <button id="restore" class="icon-button"><i class="fa-solid fa-rotate-right icon"></i></button>
                    <button id="zoom-in" class="icon-button"><i class="fa-solid fa-plus icon"></i></button>
                    <button id="zoom-out" class="icon-button"><i class="fa-solid fa-minus icon"></i></button>
                    <button id="fullscreen" class="icon-button"><i class="fa-solid fa-maximize icon"></i></button>
                    <button id="save" class="icon-button"><i class="fa-solid fa-download icon"></i></button>
                    <button id="info" class="icon-button"><i class="fa-solid fa-info icon"></i></button>

                    
                    <span id="info-text">Visualization Guide</span>
                </div>
                <div id="overlay"></div>

                <div id="description" style="display:none; margin-top: 10%; margin-bottom: 10%;">
                </div>

                <!-- <div id="draw-area" style="display: flex; flex-direction: column; height:100%">
                    <div id="mainsvg" style="flex: 70%;"></div>
                    <div id="chord-tagcloud" style="flex: 30%; display: flex;">
                        <div id="chord" style="flex: 30%;"></div>
                        <div id="tagcloud" style="flex: 70%;"></div>
                    </div>
                </div> -->

                <div id="draw-area" style="display: flex; flex-direction: column; height:100%">
                    <div id="mainsvg" style="flex: 75%;"></div>
                    <div id="tagcloud" style="flex: 25%;"></div>
                </div>
                <!--img src="data:image/png;base64,">
                <svg id="mainsvg" style="background-color: white; border-width: 0px;" width="900" height="560" viewBox="0 0 0 0"></svg>
                <div id="svg">
                    <svg id="mainsvg" style="background-color: white; border-width: 0px;" width="850" height="560" viewBox="0 0 0 0"></svg>
                </div>
                <canvas width="850" height="560" style="display:none"></canvas-->
            </div>

            <div class="right-column">
                <div id="paper-list" style="background-color: white; border-top-right-radius: 10px;border-bottom-right-radius: 10px;">
                    <div style="width: 100%; padding-top: 4%; padding-bottom: 3%;background-color: #054863; border-top-right-radius: 10px;">
                        <p style="margin-left: 40px; color: white; font-size: 16px; font-weight: bold;">Paper List</p>
                    </div>
                    <div id="timeline" style="overflow: auto; background-color: white; color: #333; margin-top: 3%; margin-bottom: 3%; margin-left: 6%; "></div>

                </div>
                
                <ul id="selector" class="address">
                    <li>
                        <ul class="address-text" style="background-color: #054863; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <li style="width: 35%; font-size: 16px; margin-top: 4%; margin-bottom: 3%; padding-left: 5%;">
                                <button id="paper-info">Paper Info</button>
                            </li>
                            <li style="width: 28%; font-size: 16px; margin-top: 4%; margin-bottom: 3%; padding-left: 0%;">
                                <button id="references">References</button>
                            </li>
                            <li style="width: 28%; font-size: 16px; margin-top: 4%; margin-bottom: 3%; padding-left: 5%;">
                                <button id="citations">Citations</button>
                            </li>
                            <script>
                                $("#selector, #node-info, #node-info-blank, #up-line, #down-line, #edge-info").hide();
                                $("#paper-info").click(function () {
                                    $("#edge-info, #up-line, #down-line").hide();
                                    $("#node-info, #node-info-blank").show();
                                });
                                $("#references").click(function () {
                                    $("#edge-info, #node-info, #node-info-blank, #down-line").hide();
                                    $("#up-line").show();
                                });
                                $("#citations").click(function () {
                                    $("#edge-info, #node-info, #node-info-blank, #up-line").hide();
                                    $("#down-line").show();
                                });
                            </script>
                        </ul>
                    </li>
                </ul>
                
                <div id="node-info" style="overflow-y: auto; border-bottom-right-radius: 10px;">
                    <!-- 表格部分 -->
                    <table  style="background-color: white; border-top-left-radius: 0%; border-top-right-radius: 0%; width: 100%;
                        ">
                        <tr>
                            <th style="width: 25%;">paperID</th>
                            <td id="paper-id" style="color: #333;"></td>
                        </tr>
                        <tr>
                            <th>title</th>
                            <td id="paper-name" style="color: #333;"></td>
                        </tr>
                        <tr>
                            <th>authors</th>
                            <td id="paper-authors" style="color: #333;"></td>
                        </tr>
                        <tr>
                            <th>core paper prob.</th>
                            <td id="paper-prob" style="color: #333;"></td>
                        </tr>
                        <tr>
                            <th>venue</th>
                            <td id="paper-venue" style="color: #333;"></td>
                        </tr>
                        <tr>
                            <th>year</th>
                            <td id="paper-year" style="color: #333;"></td>
                        </tr>
                        <tr>
                            <th>#citation</th>
                            <td id="paper-citation" style="color: #333;"></td>
                        </tr>
                        <tr>
                            <th>topic</th>
                            <td id="paper-field" style="color: #333;"></td>
                        </tr>
                        <tr>
                            <th>Abstract</th>
                            <!-- 这个单元格别居中 -->
                            <td id="abstract" style="color: #333;text-align: left;"></td>
                        </tr>
                    </table>
                </div>
                

                <div id="edge-info" class="address" >
                    <div id="edge-title" style="width: 100%; padding-top: 4%; padding-bottom: 3%;background-color: #054863; border-top-right-radius: 10px;">
                        <p style="margin-left: 40px; color: white; font-size: 16px; font-weight: bold;">Citation Relationship</p>
                    </div>
                    <div style="background-color: white; overflow-y: auto; border-bottom-right-radius: 10px;">
                        <table style="width: 100%; border-collapse: collapse;" border="1">
                            <tr>
                                <th style="width: 20%;">extend prob.</th>
                                <td id="extend-prob" colspan="2" style="color: #333;"></td>
                            </tr>
                            <tr>
                                <th rowspan="4">cited paper</th>
                                <td style="color: #333; width: 20%;">title</td>
                                <td id="source-paper" style="color: #333;"></td>
                            </tr>
                            <tr>
                                <td style="color: #333;">year</td>
                                <td id="source-paper-year" style="color: #333;"></td>
                            </tr>
                            <tr>
                                <td style="color: #333;">venu</td>
                                <td id="source-paper-venu" style="color: #333;"></td>
                            </tr>
                            <tr>
                                <td style="color: #333;">#citation</td>
                                <td id="source-paper-citation" style="color: #333;"></td>
                            </tr>
                            <tr>
                                <th rowspan="4">citing paper</th>
                                <td style="color: #333;">title</td>
                                <td id="target-paper" style="color: #333;"></td>
                            </tr>
                            <tr>
                                <td style="color: #333;">year</td>
                                <td id="target-paper-year" style="color: #333;"></td>
                            </tr>
                            <tr>
                                <td style="color: #333;">venu</td>
                                <td id="target-paper-venu" style="color: #333;"></td>
                            </tr>
                            <tr>
                                <td style="color: #333;">#citation</td>
                                <td id="target-paper-citation" style="color: #333;"></td>
                            </tr>
                            <tr>
                                <th>citation context</th>
                                <td colspan="2" id="citation-context" style="color: #333;"></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    
    
<script type="text/javascript">
    // text1 paperLabel; text2 paperCount; text3 year; text4 field

function buildPathDFromPoints(points) {
    // 检查points数组是否有效
    if (!points || points.length === 0) {
        return '';
    }

    // 使用第一个点作为起点，初始化'd'属性
    let d = `M${points[0].x},${points[0].y}`;

    // 连接所有后续的点
    for (let i = 1; i < points.length; i++) {
        d += ` L${points[i].x},${points[i].y}`;
    }

    return d;
}

function buildCurvedPath(points) {
    // build curved path from points using d3.line and d3.curveBasis
    if (!points || points.length === 0) {
        return '';
    }

    let line = d3.line()
        .x(d => d.x)
        .y(d => d.y)
        .curve(d3.curveBasis);
    return line(points);
}

$(function () {
    /* 系统说明图片状态：0为前端没有图片，1为前端有且正在展示图片，2为前端有但没有展示图片 */
    image_status = 0;
    image_data = "";
    const authorID = "{{ authorID }}";
    name = "{{ name }}";
    fields = {{ fields|safe }};
    const fieldType = "{{ fieldType }}";
    paperCount = "{{ paperCount }}";
    field_roots = fields[0];
    field_roots.forEach(element => {
        element[2] = String(element[2]);
    });
    fields = fields[1];
    fields.push([
        fields.length,9999,'Others',0,0,240,0.316,1,0
    ])
    // $("#field-level option[value='1']").remove();
    // $("#field-level option[value='2']").text(1);
    $("#chord").hide();
    $("#TTM-graph").hide();
    
    d3.json(`/src/config.json`).then(data => {
        config =  data['default'];
        if (fieldType in data) {
            Object.assign(config, data[fieldType])
        }
        const fieldlabel = data[fieldType].name;
        imgHeight = $("img").css("height");
        $("#field").css("height", imgHeight);
        $("#field").css("line-height", imgHeight);
        $("#field h1").append(`<span>- ${fieldlabel}</span>`);
        
        rangeLabel = document.getElementById('range-label');
        rangeSlider = document.getElementById("range-slider");
        nodeSlider = document.getElementById('range-node');
        edgeSlider = document.getElementById('range-edge');
        topicSlider = document.getElementById('range-topic');
        noUiSlider.create(rangeSlider, {
            start: [1, 100], // 初始值
            connect: true,   // 连接两个滑块
            range: {'min': 1,'max': 100},
            step: 1
        });
        noUiSlider.create(nodeSlider, {
            start: config["node_prob"],
            behaviour: 'tap',
            connect: [false, true],
            step: 0.01,
            range: {'min': 0,'max': 1.0}
        });
        $("#node-value").text("≥" + config["node_prob"] + " prob.");
        noUiSlider.create(edgeSlider, {
            start: config["edge_prob"],
            behaviour: 'tap',
            connect: [false, true],
            step: 0.01,
            range: {'min': 0,'max': 1.0}
        });
        $("#edge-value").text("≥" + config["edge_prob"] + " prob.");
        noUiSlider.create(topicSlider, {
            start: config["topic_prob"],
            behaviour: 'tap',
            connect: [false, true],
            step: 0.01,
            range: {'min': 0,'max': 1.0}
        });
        $("#topic-value").text("≥" + config["topic_prob"] + " prob.");
        $('#remove-survey').value = config['remove_survey'];
        $('#mode').value = config['remove_isolated'];

        Viz.instance().then(function(v) {
            viz = v;
            d3.json(`/src/json/${fieldType}/authors/${authorID}.json`).then(data => {
                authorData = data;
                // console.log('authorData', JSON.parse(JSON.stringify(authorData)));
                // $("#node-num").text(data['nodes'].length);
                // $("#edge-num").text(data['edges'].length);
                visType = $("#vis-type").val();
                
                checkScreenSize();
                $("#selector, #node-info, #node-info-blank, #up-line, #down-line, #edge-info").hide();
                
                loadAndRender();
                drawTTM();
                draw_tagcloud();
                visual_topics();
                updateSider();

                $("#overall-topic-map").hide();
                $("#paper-topic-map").show();
                // sugiyama(years, nodes, edges);
                addAllListeners();
            });
        })
    })
});

$("#mode, #node-width, #remove-survey").on('change', d=>loadAndRender());
$("#edge-filter").on('change', function() {
    const value = this.value;
    if (value == 0) {
        d3.selectAll('.link').style('display', 'block');
    } else if (value == 1) {
        d3.selectAll('.link').style('display', 'none');
        d3.selectAll('.link_true').style('display', 'block');
    } else if (value == 2) {
        d3.selectAll('.link').style('display', 'none');
        d3.selectAll('.link_false').style('display', 'block');
    } else if (value == 3) {
        d3.selectAll('.link').style('display', 'none');
    }
});

</script>

<script>
// Preload the image
var preloadedImage = new Image();
preloadedImage.src = '/src/image/overview.png';
preloadedImage.style.display = 'none'; // Hide the image initially
preloadedImage.style.width = '100%'; // Set width to 100% of the parent container
preloadedImage.style.height = 'auto';
$("#description").append(preloadedImage); // Assuming there's a div with id 'imageContainer' to hold the image

$("#info").click(function() {
    if (image_status == 0) {
        // Display the preloaded image
        $(preloadedImage).show();
        $("#mainsvg").hide();
        $("#tagcloud").hide();
        $("#chord").hide();
        $("#description").show();
        image_status = 1;
    }
    else if (image_status == 1) {
        reset_graph();
        $(preloadedImage).hide(); // Hide the image
        image_status = 2;
    }
    else if (image_status == 2) {
        $(preloadedImage).show(); // Show the image again
        $("#mainsvg").hide();
        $("#tagcloud").hide();
        $("#chord").hide();
        $("#description").show();
        image_status = 1;
    }
});
</script>
</body>
</html>