<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-9FR7K2YVNR"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-9FR7K2YVNR'); </script>
    <title>List</title>
    <link rel="icon" href="/src/image/favicon.ico" type="image/x-icon"/>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/src/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/src/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/src/css/all.min.css" rel="stylesheet" type="text/css" />

    <script src="/src/js/jquery.min.js"></script>
    <script src="/src/js/bootstrap.js"></script>
</head>

<body>
    <div class="container-fluid" style="min-height: 100vh; background-color: #cedfe6">
        <div class="navigation" style="background-color: #054863; padding-bottom: 2%; padding-top: 2%;">
            <div class="logo" style="margin-left: 8%;">
                <!--h1><span>G</span>eneticFlow</h1-->
                <a href="/"><img src="/src/image/logo-index.jpg" width="330" height="77"></a>
                <div id="field" style="display: inline-block;"><h1></h1></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="banner-info" style="margin-left: 8%;">
            <nav id="nav-pagination" aria-label="Page navigation" style="margin-top: -0.5%; margin-bottom: -1%;">
                <ul class="pagination" id="pagination"></ul>
            </nav>
            <div style="float: left; width: 95%;">
                <table class="table" style="box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5),-5px 5px 5px rgba(0, 0, 0, 0.5);">
                    <thead>
                        <tr id="tableHeaderRow">
                            <th>Sequence</th>
                            <th>Scholar Name</th>
                            <th id="paperCount">Paper Count</th>
                            <th id="citations">Paper Citations</th>
                            <th id="h-index"  class="asc">h-index</th>
                            <th id="corePaperCount">Core Paper Count</th>
                            <th>Core Paper Citations</th>
                            <th>Core h-index</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <script>
        let setting;
        function compare(index, sortType) {
            return function(row1, row2) {
                var aValue = row1[index];
                    bValue = row2[index];
                if (index == "name" || index == "fellow") {
                    if (sortType == 'asc') return aValue > bValue ? 1 : aValue < bValue ? -1 : 0;
                    else return aValue > bValue ? -1 : aValue < bValue ? 1 : 0;
                }
                else {
                    aValue = parseInt(aValue);
                    bValue = parseInt(bValue);
                    return sortType == 'desc' ? aValue - bValue : bValue - aValue;
                }
            }
        }
        function findMatch(str) {
            const pattern = /\b1:(\d+),/; // 正则表达式，匹配模式 "1:xxx,"
            const match = str.match(pattern);
            return match ? match[1] : ''; // 返回匹配的数字部分，如果没有匹配则返回 null
        }

        function findNumberAfterPattern(str, pat=10) {
            // 正则表达式用于匹配 pat 变量后面的数字，可以是 "^pat:" 或 ",pat:"
            var regex = new RegExp('(?:^|,)' + pat + ':(\\d+)');
            var match = regex.exec(str);

            // 如果找到匹配项，则返回匹配的数字，否则返回 null
            return match ? match[1] : 0;
        }

        function displayData(page) {
            $('table tbody').empty();
            const startIndex = (page - 1) * itemsPerPage;
            const endIndex = startIndex + itemsPerPage;
            
            for (let i = startIndex; i < endIndex && i < scholarList.length; i++) {
                let scholar = scholarList[i];
                var fellowStr = setting['year']? `<td>${scholar[setting['year']]}</td>`: ''
                var content = `
                    <tr>
                        <td>${i + 1}</td>
                        <td>${scholar["original"] || scholar["name"]}</td>
                        <td>${scholar["paperCount"]}</td>
                        <td>${scholar["citationCount"]}</td>
                        <td>${scholar["hIndex"]}</td>
                        <td>${scholar["corePaperCount"]}</td>
                        <td>${scholar["coreCitationCount"]}</td>
                        <td>${scholar["corehIndex"]}</td>${fellowStr}
                        <td>
                            <a class="btn-sm btn-primary" href="/index?field=${fieldType}&id=${scholar["authorID"]}" style="font-size: 12px; text-decoration: none;">
                                Visualize
                            </a>
                        </td>
                    </tr>`;
                $('table tbody').append(content);
            }
        }

        function displayPagination() {
            const totalItems = scholarList.length;
            const totalPages = Math.ceil(totalItems / itemsPerPage);
            for (let i = 1; i <= totalPages; i++) {
                const listItem = $('<li class="page-item"></li>');
                const link = $('<a class="page-link" href="#">' + i + '</a>');
                link.click(function (e) {
                    e.preventDefault();
                    displayData(i);
                });
                listItem.append(link);
                if (totalPages == 1) {
                    $('#nav-pagination').remove();
                    break;
                }
                $('#pagination').append(listItem);
            }
            displayData(1);
        }

        function createList() {
            itemsPerPage = 1000;    // 每页显示的数据数量
            scholarList = {{ scholarList|safe }};
            fieldType = "{{ fieldType }}";
            
            
            if (setting.hasOwnProperty('year')) {
                scholarList.forEach(scholar => {
                    scholar['turingYear'] = findNumberAfterPattern(scholar["fellow"]);
                    scholar['fellowYear'] = findNumberAfterPattern(scholar["fellow"], 1);
                })
                var headerRow = document.getElementById('tableHeaderRow');
                var fellowTh = document.createElement('th');
                fellowTh.textContent = setting['year'].replace('fellow', 'Fellow ').replace('turing', 'Turing ').replace('Fellow Year', 'ACM Fellow');
                // Find the last <th> element in the row
                var lastTh = headerRow.querySelector('th:last-child');
                // Insert the new <th> before the last <th>
                headerRow.insertBefore(fellowTh, lastTh);
            }

            var fieldlabel, questionContent, imgHeight;
            fieldlabel = setting.name;
            imgHeight = $("img").css("height");
            $("#field").css("height", imgHeight);
            $("#field").css("line-height", imgHeight);
            $("h1").append(`<span><i>- ${fieldlabel}</i></span>`);
            if (fieldType == "acl") {
                questionContent = "The scholar metrics below are obtained from all the paper publications in ACL Anthology Reference Corpus (ARC), till 2021.7. All paper citation counts are native data from Microsoft Academic Graph (MAG).";
            } else {
                questionContent = `The scholar metrics below are obtained from all the publications tagged as ${fieldlabel} papers in Microsoft Academic Graph (MAG) dataset, till 2021.9. All paper citation counts are native data from MAG.`;
            }
            var content = `
            <div class="question">
                <i class="fa-solid fa-circle-question hover-text"></i>
                <span class="question-tip" style="font-size: 12px;">
                    $$content$$
                </span>
            </div>`;
            $("#paperCount").append(content.replace('$$content$$', questionContent));
            $("#corePaperCount").append(content.replace('$$content$$', "Core paper = first-author paper or advisee's first-author paper"));

            scholarList.sort(compare("hIndex", "asc"));
            displayPagination();
        }

        function isTestEnv() {
			return fetch('/src/.test')
			.then(response => {
				return response.ok;
			})
			.catch(error => {
				return true
			});
		}

		$(function() {
			fetch('/src/config.json')
			.then(response => response.json())
			.then(data => {
				isTestEnv().then(isTest => {
					fieldType = "{{ fieldType }}";
                    setting = data[fieldType];
                    if (isTest) {
                        setting['year'] = setting['year'] || "fellowYear";
                    }
					createList();
				})
			})
			.catch(error => console.error('Error:', error));
		});

        $('table').on('click', 'th', function () {
            var index = $(this).index();
            if (index != 0) {
                const indexLabel = ["rank", "name", "paperCount", "citationCount", "hIndex", 
                "corePaperCount", "coreCitationCount", "corehIndex", setting['year']];
                var thClass = $(this).hasClass('asc') ? 'desc' : 'asc';
                console.log('sort on index', index, indexLabel[index], thClass)
                scholarList.sort(compare(indexLabel[index], thClass));
                
                $('table th').removeClass('asc desc');
                $(this).addClass(thClass);
                displayData(1);
            }
        });
    // 对于year字段，在config.json中定义各个领域显示的year
    // 如果没有定义：test环境下显示fellowYear，正式服下不显示
    </script>
</body>
</html>
